
upper() {
    echo $1:u
}

lower() {
    echo $1:l
}

cameltosnake() {
    echo $1 | sed -r 's/([a-z0-9])([A-Z])/\1_\L\2/g'
}

snaketocamel() {
    echo $1 | sed -r 's/_([a-z])/\U\1/gi' | sed -r 's/^([A-Z])/\l\1/'
}
